.ORIGEM{
 display: flex;
color: black;
background-color: bisque;
}


.noia{
 margin-left: 360px;
margin-bottom: 20px;

}

.logo{
    width: 180px;
    height: 180px;
}

.cogumelin{
}

.cogumelinho{

}

.blackcogu{
    
}